/* reset css */
body {
  font-size: 13px;
  font-family: Poppins, "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  line-height: 1.5;
}
* {
  box-sizing: border-box;
}
input,
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
p {
  margin: 0px;
}
/* module css */
.container {
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.align-items-flex-end {
  align-items: flex-end;
}
.justify-content-space-between {
  justify-content: space-between;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-13 {
  font-size: 13px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-20 {
  font-size: 20px;
}
.margin-right-5 {
  margin-right: 5px;
}
.width-100 {
  width: 100%;
}
.width-20 {
  width: 20px;
}
.background-color-black {
  background-color: black;
}
.background-color-gray-0 {
  background-color: #f7f7f7;
}
.background-color-transparent {
  background-color: transparent;
}
.background-color-white {
  background-color: white;
}
.background-color-gray-1 {
  background-color: #efe6d6;
}
.background-color-gray-2 {
  background-color: #f2f2f2;
}
.background-color-gray-3 {
  background-color: #f5f0f2;
}
.background-color-gray-4 {
  background-color: #f5f5f5;
}
.background-color-red {
  background-color: #e30057;
}
.border-none {
  border: none;
}
.border-radius-20 {
  border-radius: 20px;
}
.border-radius-18 {
  border-radius: 18px;
}
.border-radius-10 {
  border-radius: 10px;
}
.outline-none {
  outline: none;
}
.color-gray-f7 {
  color: #f7f7f7;
}
.color-black {
  color: black;
}
.color-red {
  color: red;
}
.color-white {
  color: #fff;
}
.color-gray-1 {
  color: #d6d6d6;
}
.color-gray-2 {
  color: #999999;
}
.color-gray-3 {
  color: #efe6d6;
}
.color-gray-dimgrey {
  color: dimgrey;
}
.color-brown-1 {
  color: #99593c;
}
.color-brown-2 {
  color: #d55930;
}
.color-brown-3 {
  color: #967f6e;
}
.color-pink {
  color: #e30057;
}
.color-gray-4 {
  color: #333333;
}
.color-gray-5 {
  color: #666666;
}
.color-rgb {
  color: rgb(68, 66, 66);
}
.padding-0 {
  padding: 0px;
}
.padding-2 {
  padding: 2px;
}
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-20 {
  padding: 20px;
}
.padding-20-0 {
  padding: 20px 0;
}
.padding-0-20 {
  padding: 0 20px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-right-5 {
  padding-right: 5px;
}
.padding-top-40 {
  padding-top: 40px;
}
.margin-5 {
  margin: 5px;
}
.margin-bottom-15px {
  margin-bottom: 15px;
}
.margin-bottom-5px {
  margin-bottom: 5px;
}
.display-inline-block {
  display: inline-block;
}
.display-block {
  display: block;
}
.flex-direction-column {
  flex-direction: column;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-32 {
  font-size: 32px;
}
.margin-0 {
  margin: 0px;
}
.text-align-center {
  text-align: center;
}
.height-100 {
  height: 100%;
}
.font-weight-bold {
  font-weight: bold;
}
.font-weight-600 {
  font-weight: 600;
}
.flex-grow-1 {
  flex-grow: 1;
}
.border-right-none {
  border-right: none;
}
.background-size-cover {
  background-size: cover;
}
.cursor-pointer {
  cursor: pointer;
}
/* header */
.header-information .infor-item {
  padding: 15px;
}
.header-information .bag span {
  width: 18px;
  height: 18px;
}
.header-information .infor-item-user {
  position: relative;
}
.header-information .infor-item-user .hover {
  position: absolute;
  background-color: #fff;
  display: none;
  width: 250px;
  height: 195px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  left: 50%;
  transform: translateX(-50%);
}
.header-information .infor-item-user:hover .hover {
  top: 50px;
  display: block;
}
.header-search {
  width: 300px;
  height: 36px;
  overflow: hidden;
}
.header-search input::placeholder {
  color: #d6d6d6;
  font-family: inherit;
}
.header-search .item {
  width: 56px;
}
/* nav */
nav .container {
  padding: 5px 80px;
}
nav .content ul li {
  padding: 0px 20px 0px 0px;
}
nav .content ul li a {
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
  color: #000;
}
nav .content ul li a:hover {
  border-bottom-color: #e30057;
}
nav p {
  margin-left: 50px;
}
/* infos */
.infos {
  background-image: url(../images/backgroundads.jpg);
}
.infos .info-item {
  border-right: 1px solid #000;
  margin: 20px 0;
  padding: 0 60px;
}
.infos .info-item:last-child {
  border-right: none;
}
/* banner */
.banner {
  background: url(../images/background.jpg) no-repeat center;
  height: 500px;
  margin-bottom: 50px;
}
/* new arrivals */
.new-arrivals .categories .category {
  flex-basis: 20%;
}
.new-arrivals .categories .category .photo .images {
  /* width: 200px;
  height: 200px; */
  border-radius: 50%;
  /* overflow đọc lại  */
  overflow: hidden;
}
.new-arrivals .categories .category .photo .images img {
  width: 75%;
}
.new-arrivals .categories .category .photo a {
  padding: 10px 0 40px 0;
}
/* flash deals */
/* flash deals - heading */
.flash-deals .arrows {
  margin-left: auto;
}
.flash-deals .arrows .arrow-item {
  padding: 3px 15px;
  border: 1px solid #ddd;
}
.flash-deals .arrows .arrow-item:first-child {
  border-right: none;
  border-radius: 15px 0 0 15px;
}
.flash-deals .arrows .arrow-item:last-child {
  border-radius: 0 15px 15px 0;
}
.flash-deals .list {
  padding-left: 20px;
}
.flash-deals .view-more a {
  font-family: inherit;
}
.flash-deals .list li {
  margin: 8px 9px;
  padding: 5px 12px;
  border-radius: 12px;
  background-color: #f2f2f2;
}
.flash-deals .list li a {
  color: #000;
}
.flash-deals .list li:hover {
  background-color: #000;
}
.flash-deals .list li:hover a {
  color: #fff;
}
/* flash deals - category-fash */
.category-flash {
  background: url(../images/backgroundflash.jpg) no-repeat;
  min-height: 440px;
}
.category-flash .content {
  flex-basis: 20%;
}
.category-flash .content .content-02 .p2 {
  font-size: 40px;
}
.category-flash .content .time-left p {
  font-weight: 500;
}
.category-flash .content .view-more button {
  margin-top: 20px;
  padding: 10px 40px;
}
.category-flash .categories {
  flex-basis: 80%;
}
.category-flash .categories li {
  flex-basis: 25%;
}
.category-flash .categories li .category-wrapper .category-title {
  padding: 8px 0;
}
.category-flash .categories li .category-wrapper .category-title:hover {
  text-decoration: underline;
}
.category-flash .categories li .category-wrapper .category-price {
  padding-top: 3px 0 30px 0;
}
.category-flash .categories li .category-wrapper .category-price-original {
  text-decoration: line-through;
}
.category-flash .categories li .category-wrapper .sold {
  padding-bottom: 3px;
}
/* what's hot */
.what-hot {
  margin-top: 30px 0;
}
.what-hot .title {
  margin-bottom: 15px;
}
.what-hot .content {
  padding: 30px 15px;
}
.what-hot .content .content-item {
  flex-basis: 33.33%;
  padding: 0 10px;
}
.what-hot .content .content-item .content-wrapper .content-title {
  padding: 15px 10px;
}
.what-hot .content .content-item .content-wrapper .content-more {
  padding-right: 10px;
}
.what-hot .content-tabs li.active a {
  color: #e30057;
}
.what-hot .content-tabs li a {
  color: #333333;
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  font-weight: 600;
}
.what-hot .content .content-products .product-wrapper img {
  flex-basis: 25%;
  width: 25%;
}
.what-hot .content .content-products .product-wrapper .product-title {
  margin-bottom: 20px;
}
.what-hot .content .content-bottom {
  border-top: 1px solid #ddd;
  padding: 20px 0;
  min-height: 60px;
}
.what-hot .see-more {
  margin-top: 50px;
  padding: 10px 30px;
}
.what-hot .albums div {
  flex-basis: 33.33%;
  padding: 0 5px;
}
/* footer */
/* footer-icon */
footer .footer-icon .icon {
  flex-basis: 25%;
  padding: 40px 60px;
}
/* footer-options */
footer .options .options-left {
  flex-basis: 66.66%;
}
footer .options .options-left .option-left-item {
  flex-basis: 33.33%;
}
footer .options .options-left .option-left-item ul li a {
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
  color: #666666;
}
footer .options .options-left .option-left-item ul li a:hover {
  border-color: #e30057;
}
footer .options-right .footer-search {
  padding: 3px 5px;
  box-shadow: 0px 0.02rem 0.1rem rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}
footer .options-right .footer-search input:focus {
  outline: none;
}
footer .options-right .footer-search .icon {
  width: 26px;
  height: 26px;
  line-height: 26px;
}
footer .options-right .footer-socials {
  padding: 20px 0;
}
footer .options-right .footer-socials i {
  padding: 0 15px;
  font-size: 15px;
}
footer .options-right .footer-socials i:first-child {
  padding-left: 0;
}
footer .options-right .footer-qrcode img {
  width: 80px;
  height: 80px;
}
footer .options-right .footer-qrcode .content {
  padding-left: 0 12px;
}
/* footer-copyright */
footer .copyright {
  padding: 40px;
}
/* responsive */
@media (min-width: 1400px) {
  .container {
    width: 1530px;
  }
}
/* media queries Chỉ có ở css3 */
/* feature brands */
.featured-brands {
  padding-top: 55px;
}
