body {
    font-size: 13px;
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.container {
    width: 1130px;
    margin-left: auto;
    margin-right: auto;
}
input,
button {
    font-family: inherit;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
/* header */
header {
    padding-top: 10px;
    padding-bottom: 10px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo a {
    display: flex;
    align-items: flex-end;
}
.header-logo a span {
    margin-left: 5px;
    color: #999;
}
.header-information {
    display: flex;
    align-items: center;
}
.header-information .infor-item {
    padding: 15px;
}
.header-information .infor-item i {
    font-size: 24px;
}
.header-information .bag,
.header-information .heart {
    display: flex;
    align-items: center;
}
.header-information .bag i,
.header-information .heart i {
    margin-right: 5px;
}
.header-information .bag span {
    background-color: black;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.header-information .flagvietnam img {
    width: 20px;
}
.header-search {
    display: flex;
    width: 300px;
    border-radius: 20px;
    background-color: #f7f7f7;
    justify-content: space-between;
}
.header-search input {
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: transparent;
    color: #999999;
    outline: none;
}
.header-search .item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    width: 56px;
    height: 36px;
    border-radius: 20px;
}
.header-search .item i {
    font-size: 20px;
}
/* nav */
nav {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 5px 80px;
}
nav .content {
    display: flex;
    justify-content: space-between;
}
nav .content ul {
    display: flex;
    list-style: none;
    padding: 0px;
}
nav .content ul li {
    padding: 0px 26.4765px 0px 0px;
}
nav .content ul li a {
    color: #000;
}
nav p {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left: 50px;
}
nav p span {
    font-size: 12px;
    margin: 0px;
}
nav p .text2 {
    color: red;
}
/* infos */
.infos {
    display: flex;
    justify-content: center;
    background-image: url(/images/backgroundads.jpg);
}
.infos .info-item {
    border-right: 1px solid #000;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 60px;
    padding-left: 60px;
}
.infos .info-item:last-child {
    border-right: none;
}
.infos .info-item a {
    color: #99593c;
    font-size: 18px;
    font-weight: bold;
}
/* banner */
.banner {
    background-image: url(/images/background.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}
/* new arrivals */
.new-arrivals .title {
    font-weight: bold;
    font-size: 24px;
}
.new-arrivals .title a {
    color: #000;
}
.new-arrivals .categories {
    display: flex;
}
.new-arrivals .categories .category {
    flex-basis: 20%;
    padding: 10px;
}
.new-arrivals .categories .category .photo {
    background-color: #fff;
}
.new-arrivals .categories .category .photo .images {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #efe6d6;
    /* overflow đọc lại  */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-arrivals .categories .category .photo .images img {
    width: 75%;
}
.new-arrivals .categories .category .photo a {
    text-align: center;
    display: block;
    padding-top: 10px;
    color: dimgrey;
    font-weight: bold;
    padding-bottom: 40px;
}
/* flash deals */
/* flash deals - heading */
.flash-deals .heading {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.flash-deals .arrows {
    margin-left: auto;
    display: flex;
}
.flash-deals .arrows .arrow-item {
    padding: 3px 15px;
    border: 1px solid #ddd;
}
.flash-deals .arrows .arrow-item:first-child {
    border-right: none;
    border-radius: 15px 0 0 15px;
}
.flash-deals .arrows .arrow-item:last-child {
    border-radius: 0 15px 15px 0;
}
.flash-deals .title {
    font-size: 24px;
    font-weight: bold;
}
.flash-deals .list {
    display: flex;
    padding-left: 20px;
}
.flash-deals .title a {
    color: #000;
}
.flash-deals .list li {
    margin: 8px 9px;
    background-color: #f2f2f2;
    font-size: 14px;
    padding: 5px 12px;
    border-radius: 12px;
}
.flash-deals .list li:hover {
    background-color: #000;
}
.flash-deals .list li a {
    color: #000;
}
.flash-deals .list li:hover a {
    color: #fff;
}
/* flash deals - category-fash */
.category-flash {
    background-image: url(/images/backgroundflash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    min-height: 440px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.category-flash .content {
    padding: 0 20px;
    text-align: center;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.category-flash .content .time-left ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.category-flash .content .content-01 {
    color: #000;
    font-size: 24px;
}
.category-flash .content .content-02 {
    color: #d55930;
    font-weight: bold;
}
.category-flash .content .content-02 .p1 {
    font-size: 20px;
    margin: 5px;
}
.category-flash .content .content-02 .p2 {
    font-size: 40px;
    margin: 5px;
}
.category-flash .content .time-left {
    color: #967f6e;
}
.category-flash .content .time-left p {
    font-weight: 500;
}
.category-flash .content .time-left ul .time-item {
    color: #efe6d6;
    font-weight: bold;
    background-color: #000;
    margin: 5px;
    padding: 5px;
}
.category-flash .content .view-more button {
    margin-top: 20px;
    border: none;
    padding: 10px 40px;
    background-color: #fff;
}
.category-flash .content .view-more button a {
    color: #967f6e;
}
.category-flash .categories {
    flex-basis: 80%;
    display: flex;
}
.category-flash .categories li {
    flex-basis: 25%;
    padding: 5px;
}
.category-flash .categories li .category-wrapper {
    text-align: center;
    background-color: #fff;
    height: 100%;
}
.category-flash .categories li .category-wrapper img {
    width: 100%;
    padding: 10px;
}
.category-flash .categories li .category-wrapper .category-title {
    padding-left: 8px;
    padding-right: 8px;
    color: #000;
    font-size: 14px;
}
.category-flash .categories li .category-wrapper .category-title:hover {
    text-decoration: underline;
}
.category-flash .categories li .category-wrapper .category-price {
    padding-top: 3px;
    padding-bottom: 30px;
}
.category-flash .categories li .category-wrapper .category-price-sale {
    color: #e30057;
    font-weight: 600;
    font-size: 16px;
}
.category-flash .categories li .category-wrapper .category-price-original {
    color: #999;
    text-decoration: line-through;
}
.category-flash .categories li .category-wrapper .sold {
    padding-bottom: 50px;
    font-size: 14px;
}
.category-flash .categories li .category-wrapper .sold span {
    color: #e30057;
}
/* what's hot */
.what-hot {
    margin-top: 30px;
    margin-bottom: 30px;
}
.what-hot .title {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
}
.what-hot .title a {
    color: #000;
}
.what-hot .content {
    display: flex;
    padding: 30px 15px;
    background-color: #f5f0f2;
}
.what-hot .content .content-item {
    flex-basis: 33.33%;
    padding: 0 10px;
}
.what-hot .content .content-item .content-wrapper {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.what-hot .content .content-item .content-wrapper .content-body {
    flex-grow: 1;
}
.what-hot .content .content-item .content-wrapper .content-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.what-hot .content .content-item .content-wrapper .content-title {
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 700;
}
.what-hot .content .content-item .content-wrapper .content-more {
    padding-right: 10px;
    font-weight: bold;
    color: #999;
}
.what-hot .content .content-item .content-wrapper .content-tabs {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
}
.what-hot .content .content-item .content-wrapper .content-tabs li {
    flex-grow: 1;
    padding-top: 10px;
    text-align: center;
}
.what-hot .content .content-item .content-wrapper .content-tabs li.active a {
    color: #e30057;
    border-bottom: 1px solid #e30057;
    font-weight: 600;
}
.what-hot .content .content-item .content-wrapper .content-tabs li a {
    display: inline-block;
    padding-bottom: 10px;
    color: #333;
}
.what-hot .content .content-products .product-wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
}
.what-hot .content .content-products .product-wrapper img {
    flex-basis: 25%;
    width: 25%;
}
.what-hot .content .content-products .product-wrapper .product-number {
    padding: 20px;
    color: #e30057;
    font-size: 32px;
    font-weight: bold;
}
.what-hot .content .content-products .product-wrapper .product-content {
    color: #333;
}
.what-hot .content .content-products .product-wrapper .product-title {
    font-size: 14px;
    margin-bottom: 20px;
}
.what-hot .content .content-products .product-wrapper .product-price {
    font-size: 16px;
    font-weight: bold;
}
.what-hot .content .content-bottom {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    min-height: 60px;
}
.what-hot .content .content-bottom .active {
    color: #e30057;
}
.what-hot .image-shipcod {
    width: 100%;
}
.what-hot .content .content-item:nth-child(2) {
    text-align: center;
}
.what-hot .ship-title {
    color: #333;
    font-size: 16px;
}
.what-hot .ship-desc {
    padding-left: 20px;
    padding-right: 20px;
    color: #999;
    font-size: 14px;
}
.what-hot .see-more {
    margin-top: 50px;
    display: inline-block;
    padding: 10px 30px;
    background-color: #e30057;
    color: #fff;
    border-radius: 20px;
}
.what-hot .albums {
    padding-top: 20px;
    display: flex;
}
.what-hot .albums div {
    flex-basis: 33.33%;
    padding-left: 5px;
    padding-right: 5px;
}
.what-hot .albums img {
    width: 100%;
}
/* footer */
footer {
    padding-top: 40px;
    background-color: #f7f7f7;
}
/* footer-icon */
footer .footer-icon {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .footer-icon .icon {
    flex-basis: 25%;
    text-align: center;
    padding: 40px 70px;
}
footer .footer-icon .icon span i {
    font-size: 24px;
}
footer .footer-icon .icon .p1 {
    font-weight: bold;
    font-size: 14px;
}
footer .footer-icon .icon .p2 {
    font-size: 13px;
    color: #999999;
}
/* footer-options */
footer .options {
    display: flex;
    padding-top: 40px;
}
footer .options .options-left {
    flex-basis: 66.66%;
    display: flex;
}
footer .options .options-left .option-left-item {
    flex-basis: 33.33%;
}
footer .options .options-left .option-left-item h3 {
    font-size: 14px;
    color: #333;
}
footer .options .options-left .option-left-item ul li a {
    display: block;
    margin-bottom: 5px;
    color: #666;
}
footer .options .options-right {
    flex-grow: 1;
}
footer .options-right .footer-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 5px;
    background-color: #fff;
    box-shadow: 0px 0.02rem 0.1rem rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}
footer .options-right .footer-search input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
}
footer .options-right .footer-search input:focus {
    outline: none;
}
footer .options-right .footer-search .icon {
    width: 26px;
    height: 26px;
    background-color: #000;
    color: #fff;
    line-height: 26px;
    text-align: center;
}
footer .options-right .footer-socials {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer .options-right .footer-socials i {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 15px;
}
footer .options-right .footer-socials i:first-child {
    padding-left: 0;
}
footer .options-right .footer-qrcode {
    display: flex;
    align-items: center;
}
footer .options-right .footer-qrcode img {
    width: 80px;
    height: 80px;
}
footer .options-right .footer-qrcode .content {
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 600;
    font-size: 14px;
}
footer .options-right .footer-qrcode .content span {
    color: #e30057;
}
/* footer-copyright */
footer .copyright {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #999999;
}
/* responsive */
@media (min-width: 1400px) {
    .container {
        width: 1530px;
    }
}
